<!--Search-->
<div class="col-md-3">
	<div class="wrapper-search">
  	<div ng-controller="searchController as search">

      <form  name="searchForm" ng-submit="searchForm.$valid && search.searchApi()" novalidate>
      <input class="form-control" ng-model="search.term"  type="text" placeholder='busqueda' required>
      
      </form>

      <div id="results" ng-repeat="video in search.videos">
      <img ng-src="{{video.snippet.thumbnails['default'].url}}">  
      <h3>{{video.snippet.title}}</h3>
      <h5>{{video.snippet.description}}</h5>
      </div>
    </div>
	</div>
</div>
