<!DOCTYPE html>
<html lang="es" ng-app="mixtura">
<head>
  <meta charset="utf-8">
  <title>Mixtura</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="app.css"/>
</head>
<body>
  <ul class="menu">
    <li><a href="#/search">view1</a></li>
  </ul>
  
  <!--User-->
  <div class="col-md-3">
    <div class="wrapper-user">
      <div class="media">
        <a class="pull-left" href="#">
        <img class="user-image media-object img-circle" src="https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-xpa1/v/t1.0-9/1392454_592440107475824_605715932_n.jpg?oh=bcfb7431aa66498c1c82a1f8ccf618d2&oe=54A642C2&__gda__=1419004081_dab390974ff898d62bcd2065bd9f01c3" alt="...">
        </a>
        <div class="media-body">
        <p>@giovannicamana</p>          
      </div>
  </div>
    </div>
  </div>

  <!--Search-->
  <div class="col-md-3">
    <div class="wrapper-search">
      <div ng-controller="searchController as search">

        <form  name="searchForm" ng-submit="searchForm.$valid && search.searchApi()" novalidate>
        <input class="form-control" ng-model="search.term"  type="text" placeholder='busqueda' required>
        
        </form>

        <div id="results" ng-repeat="video in search.videos">
        <img ng-src="{{video.snippet.thumbnails['default'].url}}">  
        <h3>{{video}}</h3>
        <h5>{{video.snippet.description}}</h5>
        </div>
      </div>
    </div>
  </div>

  <div ng-view></div>


  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="app.js"></script>
</body>
</html>
